name: guacamole_compose

networks:
  network_guacamole_compose:
    driver: bridge

services:
  postgres:
    container_name: postgres_${COMPOSE_PROJECT_NAME}
    image: postgres:18.0-alpine3.22
    environment:
      POSTGRES_DB: guacamole_db
      POSTGRES_PASSWORD: 'ChooseYourOwnPasswordHere1234'
      POSTGRES_USER: guacamole_user
    networks:
      - network_guacamole_compose
    volumes:
      - ./init:/docker-entrypoint-initdb.d:ro
      - ./data:/var/lib/postgresql/18/docker:rw
    restart: always



  guacd:
    container_name: guacd_${COMPOSE_PROJECT_NAME}
    image: guacamole/guacd:1.6.0
    networks:
      - network_guacamole_compose
    volumes:
      - ./drive:/drive:rw
      - ./record:/record:rw
    depends_on:
      - postgres
    restart: always



  guacamole_base:
    container_name: guacamole_base_${COMPOSE_PROJECT_NAME}
    image: guacamole/guacamole:1.6.0



  guacamole:
    container_name: guacamole_${COMPOSE_PROJECT_NAME}
    extends:
      service: guacamole_base
    image: guacamole/guacamole:1.6.0
    environment:
      GUACD_HOSTNAME: guacd
      POSTGRESQL_DATABASE: guacamole_db
      POSTGRESQL_HOSTNAME: postgres
      POSTGRESQL_PASSWORD: 'ChooseYourOwnPasswordHere1234'
      POSTGRESQL_USERNAME: guacamole_user
      RECORDING_SEARCH_PATH: /record
    networks:
      - network_guacamole_compose
    volumes:
      - ./record:/record:rw
    group_add:
      - "1000"
    depends_on:
      - guacd
    restart: always



  nginx:
    container_name: nginx_guacamole_compose
    image: nginx:1.29.3-alpine3.22

    networks:
      - network_guacamole_compose
    ports:
      # Bind to specific IP addresses (network interfaces) instead of all interfaces by default.
      # Binding to 0.0.0.0 by default can be risky because we can't ensure that all interfaces
      # are firewalled properly to limit only whitelisted IPs. Ngingx configuration assumes
      # that the connections come only from Tailscale funnel proxy (which can have floating IPs)
      # so it blindly trusts the X-Forwarded-For header for any incoming request 
      # to determine the original client IP.
      # Taislcale funnel proxy sets X-Forwarded-For header to the immidieate IP of the client 
      # connecting to the funnel proxy and overwrites it if already present 
      # (at least as of 02.11.2025 from my tests).
      # This means that no one can spoof that header to include one of whitelisted IPs 
      # when they are connecting through Tailscale funnel proxy (if connecting 
      # outside of funnel proxy then they can spoof it).
      # We can't determine if someone is connecting outside of Tailscale funnel proxy 
      # from withing nginx config, because the http request IP is always that of the docker internal network. 
      # This always looks like the request came from lan the container is running in. 
      #
      # If the X-Forwarded-For header is missing then the nginx config will accept the request because 
      # we can't verify that the request is coming from a whitelisted IP and the config assumes that 
      # the request originated from an allowed source like internal docker network, 
      # docker host (direct conneciton of docker host to 127.0.0.1:8443 which is an nginx service bind
      # on docker host) or a network that the docker host is connected to (like LAN, or tailnet) etc.
      #
      # This is a potential security risk when connecting outside of Tailscale funnel so make sure that 
      # any such conneciton path is properly firewalled above docker to only allow trusted IPs.
      # If someone can connect outside of Tailscale funnel, then they can spoof the X-Forwarded-For header
      # to include one of whitelisted IPs and gain access to the guacamole service or if the nginx service
      # is IP reachable, than ommiting the X-Forwarded-For header will also allow access.

      # The bellow is the desired network configuration so nginx instance with IP whitellist 
      # will be reachable only through the taialscale funnel that exposes nginx by using the command:
      # tailscale funnel --bg https+insecure://127.0.0.1:8443
      - 127.0.0.1:8443:443
    volumes:
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./nginx/ssl/self.cert:/etc/nginx/ssl/self.cert:ro
      - ./nginx/ssl/self-ssl.key:/etc/nginx/ssl/self-ssl.key:ro
      - ./nginx/allowlist.conf:/etc/nginx/allowlist.conf:ro
    depends_on:
      - guacamole
    restart: always
